.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #07f9a2, #09c184, #0a8967, #0c5149);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #07f9a2, #09c184, #0a8967, #0c5149);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-radius: 2rem;
   
    }
    }

    .loginsenha {
        display: flex;
        flex-direction: column;
    }

    .inverterdiv {
        display: flex;
        flex-direction: row-reverse;
    }
