<body class="site">
  <section class="h-100 gradient-form" style="background-color: #c3ffe9;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-5 text-black shadow">
              <div class="g-0 inverterdiv">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <h1 class="titulo-inicio mt-2 mb-5">REGISTRE-SE</h1>
                    </div>

                    <form>
    
                      <div class="form-outline mb-2">
                        <label class="form-label" for="name">Nome</label>
                        <input type="name" id="name" class="form-control" autocomplete="off"
                          placeholder="Digite seu nome completo" />
                      </div>

                      <div class="form-outline mb-2">
                        <label class="form-label" for="cpf">CPF</label>
                        <Input type="cpf" id="cpf" class="form-control" autocomplete="off"
                          placeholder="Digite seu CPF">
                      </div>
                      
                      <div class="form-outline mb-2">
                        <label class="form-label" for="email">E-mail</label>
                        <input type="email" id="email" class="form-control" autocomplete="off"
                          placeholder="Digite seu e-mail" />
                      </div>
                      
                      <div class="form-outline mb-2">
                        <label class="form-label" for="password">Senha</label>
                        <input type="password" id="password" class="form-control" 
                          placeholder="Digite a sua senha"/>
                      </div>

                      <div class="form-outline mb-5">
                        <label class="form-label" for="password">Confirme a sua senha</label>
                        <input type="password" id="password" class="form-control"
                          placeholder="Digite a sua senha novamente"/>
                      </div>
    
                      <div class="text-center pt-1 mb-5 pb-1 loginsenha">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2" type="button" routerLink="/login" routerLinkActive="selected">Registre-se</button>
                      </div>

                    </form>
    
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Nós somos uma empresa farmaceutica </h4>
                    <p class="small mb-0">Essa aplicação é voltada para auxílio dos funcionários da empresa ______________
                      que tem como objetivo _______________________________________ e cada dia estamos melhorando ainda mais!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>