<body class="site">
    
    <app-header></app-header>
    
    <div class="home1">
        <div class="home2">
            <div class="home-text">
                <div>
                    <h1 id="home-h1">Faça-os Melhor! Independente de <strong>quando</strong> e <strong>onde</strong>!</h1>
                </div>
                <div>
                    <h2><i>Você não viveu hoje, até que tenha feito algo para alguém que nunca poderá te retribuir.<br>- John Bunyan</i></h2>
                </div>
            </div>
            <div class="home-image">
                <img id="paciente-e-medica" src="/assets/images/pacienteemedica.png" alt="paciente-e-medica2">
            </div>
        </div>
    </div>
    
</body>

<app-footer></app-footer>
